<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>Switchboard</title>

		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
		<!-- Optional Bootstrap theme -->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous'>

    </head>
    <body>
        <div class='container'>
            <div class='page-header'>
                <h2>SWB Dashboard</h2>
            </div>
        </div>

        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>

        <script type='text/javascript'>
			var socket = null
            $(document).ready(function() {
				var addr = 'ws://' + document.domain + ':' + location.port + '/websocket'
				socket = new WebSocket(addr);
                document.getElementById('warning').style.visibility = 'hidden'

				socket.onerror = function(event) {
					console.log('Error detected: ' + event);
				}

				socket.onclose = function() {
					socket = null;
					console.log('socket closed')
                    document.getElementById('warning').style.visibility = 'visible'
				}

				socket.onopen = function(event) {
					console.log('socket open')
				}

				socket.onmessage = function(msg) {
                    console.log('received message: ' + msg.data)
                    var data = JSON.parse(msg.data)
                    switch (data.command) {
                        case 'update_fields':
                            for (var i = 0; i < data.fields.length; i++) {
                                var update = data.fields[i]
                                var device_value = emptyIfNull(update.value)
                                var last_set_value = emptyIfNull(update.last_set_value)

                                var value_element = document.getElementById(update.device)
                                value_element.innerHTML=device_value

                                var last_set_element = document.getElementById('last_set_' + update.device)
                                last_set_element.innerHTML=last_set_value
                            }
                            break
						case 'update_table':
							loadTable('device_table', data.table)
                            break
                        default:
                            console.log('Unkown command ' + data.command);
                    }
				}
            });

    		function loadTable(tableId, table_data) {
    		    var rows = '';
    		    $.each(table_data, function(index, client_info) {
    		        var row = '<tr><td class="col-xs-2">' + client_info.client_alias + '</td>'
                    row += '<td class="col-xs-3">' + client_info.client_url + '</td>'
                    row += '<td class="col-xs-7"><table class=\'table table-bordered\'>'
                    row += '<thead><tr>'
                    row += '<th>Name</th><th>Value</th><th>Last Set To</th>'
                    row += '</tr></thead><tbody>'

    		        $.each(client_info.devices, function(index, device) {
                        row += '<tr>'
    		            row += '<td class="col-xs-3">' + device.name + '</td>';

                        var device_value = emptyIfNull(device.value)
                        var last_set_value = emptyIfNull(device.last_set_value)

    		            row += '<td class="col-xs-2" id=' + device.name + '>' + device_value + '</td>';
    		            row += '<td class="col-xs-2" id=last_set_' + device.name + '>' + last_set_value + '</td>';
                        row += '</tr>'
    		        });

                    rows += row + '</tbody></table></td></tr>';
    		    });
                console.log(rows)
    		    $('#' + tableId + ' tbody').html(rows);
    		}

            function emptyIfNull(value) {
                if (value == null)
                    return ''
                return value
            }

        </script>

        <p id='warning'><font color='red'>Warning: lost connection with server. Restart server and refresh this page</font></p>

        <div class='row col-md-12'>
            <table id='device_table' class='table table-striped'>
                <thead>
                    <tr>
                        <th>Client Alias</th>
                        <th>Client URL</th>
                        <th>Devices Info</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </body>
</html>
